@import "variables.scss";

%nav-list-item {
  position: absolute;
  width: 2px;
  height: 52px;
  content: '';
  transition: all 0.3s;
  margin: -11px 0;
}

%nav-my-name {
  font-family: 'Josefin Slab', serif;
  font-size: 47px;
  font-weight: 700;
  color: $black;
  line-height: normal;
}