body body #nav-container ul #nav-choices li#about::before,
html body #nav-container ul #nav-choices li#about::before, body body #nav-container ul #nav-choices li#connect::before,
html body #nav-container ul #nav-choices li#connect::before, body body #nav-container ul #nav-choices li#education::before,
html body #nav-container ul #nav-choices li#education::before, body body #nav-container ul #nav-choices li#experience::before,
html body #nav-container ul #nav-choices li#experience::before, body body #nav-container ul #nav-choices li#projects::before,
html body #nav-container ul #nav-choices li#projects::before, body body #nav-container ul #nav-choices li#resume::before,
html body #nav-container ul #nav-choices li#resume::before, body body #nav-container ul #nav-choices li#skills::before,
html body #nav-container ul #nav-choices li#skills::before {
  position: absolute;
  width: 2px;
  height: 52px;
  content: '';
  transition: all 0.3s;
  margin: -11px 0; }

body body #nav-container ul #name-title #nav-my-name,
html body #nav-container ul #name-title #nav-my-name, body body #nav-container-small-screen nav #small-nav-my-name,
html body #nav-container-small-screen nav #small-nav-my-name {
  font-family: 'Josefin Slab', serif;
  font-size: 47px;
  font-weight: 700;
  color: #5C4B51;
  line-height: normal; }

body,
html {
  height: 100%; }
  body .skill-div-line-div,
  html .skill-div-line-div {
    display: flex; }
    body .skill-div-line-div .skill-div-line,
    html .skill-div-line-div .skill-div-line {
      margin: 3px auto 17px;
      border-bottom: 1px solid #5C4B51; }
  body a:hover,
  html a:hover {
    text-decoration: none;
    cursor: pointer; }
  body a:visited,
  html a:visited {
    text-decoration: none; }
  body body,
  html body {
    background-image: url("/assets/images/background.png"); }
    body body #nav-container,
    html body #nav-container {
      border-right: 0 solid #888888;
      box-shadow: 0 0 26px -6px #222;
      height: 100%;
      width: 240px;
      position: fixed;
      background-color: white;
      z-index: 100; }
      body body #nav-container ul,
      html body #nav-container ul {
        padding: 0;
        margin: 40px 20px 0; }
        body body #nav-container ul #name-title,
        html body #nav-container ul #name-title {
          list-style-type: none;
          border-bottom: 1px solid #888888;
          padding-bottom: 10px; }
          body body #nav-container ul #name-title #nav-my-job,
          html body #nav-container ul #name-title #nav-my-job {
            font-family: 'Josefin Slab', serif;
            font-size: 19px;
            font-weight: 400;
            font-style: italic;
            color: #F3B562;
            margin-top: 10px; }
        body body #nav-container ul #nav-choices li#about::before,
        html body #nav-container ul #nav-choices li#about::before {
          background: linear-gradient(to right, #2E5458, #FFFFFF); }
        body body #nav-container ul #nav-choices li#connect::before,
        html body #nav-container ul #nav-choices li#connect::before {
          background: linear-gradient(to right, #73573F, #FFFFFF); }
        body body #nav-container ul #nav-choices li#education::before,
        html body #nav-container ul #nav-choices li#education::before {
          background: linear-gradient(to right, #F3B562, #FFFFFF); }
        body body #nav-container ul #nav-choices li#experience::before,
        html body #nav-container ul #nav-choices li#experience::before {
          background: linear-gradient(to right, #F06060, #FFFFFF); }
        body body #nav-container ul #nav-choices li#projects::before,
        html body #nav-container ul #nav-choices li#projects::before {
          background: linear-gradient(to right, #8CBEB2, #FFFFFF); }
        body body #nav-container ul #nav-choices li#resume::before,
        html body #nav-container ul #nav-choices li#resume::before {
          background: linear-gradient(to right, #5C4B51, #FFFFFF); }
        body body #nav-container ul #nav-choices li#skills::before,
        html body #nav-container ul #nav-choices li#skills::before {
          background: linear-gradient(to right, #F2EBBF, #FFFFFF); }
        body body #nav-container ul #nav-choices li#about:hover::before,
        body body #nav-container ul #nav-choices li#connect:hover::before,
        body body #nav-container ul #nav-choices li#education:hover::before,
        body body #nav-container ul #nav-choices li#experience:hover::before,
        body body #nav-container ul #nav-choices li#projects:hover::before,
        body body #nav-container ul #nav-choices li#resume:hover::before,
        body body #nav-container ul #nav-choices li#skills:hover::before,
        html body #nav-container ul #nav-choices li#about:hover::before,
        html body #nav-container ul #nav-choices li#connect:hover::before,
        html body #nav-container ul #nav-choices li#education:hover::before,
        html body #nav-container ul #nav-choices li#experience:hover::before,
        html body #nav-container ul #nav-choices li#projects:hover::before,
        html body #nav-container ul #nav-choices li#resume:hover::before,
        html body #nav-container ul #nav-choices li#skills:hover::before {
          width: 20%;
          opacity: 0.7;
          cursor: pointer; }
        body body #nav-container ul #nav-choices,
        html body #nav-container ul #nav-choices {
          margin: 25px 0;
          bottom: 50px; }
          body body #nav-container ul #nav-choices .nav-choice:hover,
          html body #nav-container ul #nav-choices .nav-choice:hover {
            color: #FFFFFF; }
          body body #nav-container ul #nav-choices .nav-choice,
          html body #nav-container ul #nav-choices .nav-choice {
            list-style-type: none;
            font-family: 'Josefin Slab', serif;
            font-size: 25px;
            font-weight: 200;
            color: #5C4B51;
            height: 60px; }
            body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs,
            html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs {
              color: #5C4B51;
              margin: 10px; }
              body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #about-glyph,
              html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #about-glyph {
                color: #2E5458; }
              body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #education-glyph,
              html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #education-glyph {
                color: #F3B562; }
              body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #projects-glyph,
              html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #projects-glyph {
                color: #8CBEB2; }
              body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #skills-glyph,
              html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #skills-glyph {
                color: #F2EBBF; }
              body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #experience-glyph,
              html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #experience-glyph {
                color: #F06060; }
              body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #connect-glyph,
              html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #connect-glyph {
                color: #73573F; }
              body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #resume-glyph,
              html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs #resume-glyph {
                color: #5C4B51; }
              body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs .glyphicon,
              html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs .glyphicon {
                margin-top: 1px; }
              body body #nav-container ul #nav-choices .nav-choice .nav-choice-divs .nav-titles,
              html body #nav-container ul #nav-choices .nav-choice .nav-choice-divs .nav-titles {
                margin: 11px; }
    body body #nav-container-small-screen nav,
    html body #nav-container-small-screen nav {
      display: flex;
      justify-content: space-between; }
      body body #nav-container-small-screen nav #small-nav-my-name,
      html body #nav-container-small-screen nav #small-nav-my-name {
        margin: 10px 0; }
      body body #nav-container-small-screen nav #small-nav-glyphs .small-nav-choice,
      html body #nav-container-small-screen nav #small-nav-glyphs .small-nav-choice {
        cursor: pointer; }
      body body #nav-container-small-screen nav #small-nav-glyphs #about-glyph,
      html body #nav-container-small-screen nav #small-nav-glyphs #about-glyph {
        color: #2E5458; }
      body body #nav-container-small-screen nav #small-nav-glyphs #education-glyph,
      html body #nav-container-small-screen nav #small-nav-glyphs #education-glyph {
        color: #F3B562; }
      body body #nav-container-small-screen nav #small-nav-glyphs #projects-glyph,
      html body #nav-container-small-screen nav #small-nav-glyphs #projects-glyph {
        color: #8CBEB2; }
      body body #nav-container-small-screen nav #small-nav-glyphs #skills-glyph,
      html body #nav-container-small-screen nav #small-nav-glyphs #skills-glyph {
        color: #F2EBBF; }
      body body #nav-container-small-screen nav #small-nav-glyphs #experience-glyph,
      html body #nav-container-small-screen nav #small-nav-glyphs #experience-glyph {
        color: #F06060; }
      body body #nav-container-small-screen nav #small-nav-glyphs #connect-glyph,
      html body #nav-container-small-screen nav #small-nav-glyphs #connect-glyph {
        color: #73573F; }
      body body #nav-container-small-screen nav #small-nav-glyphs #resume-glyph,
      html body #nav-container-small-screen nav #small-nav-glyphs #resume-glyph {
        color: #5C4B51; }
      body body #nav-container-small-screen nav #small-nav-glyphs .glyphicon-small-nav,
      html body #nav-container-small-screen nav #small-nav-glyphs .glyphicon-small-nav {
        font-size: 36px;
        margin: 11px 5px 0; }
    body body #open-close:hover,
    html body #open-close:hover {
      cursor: pointer;
      box-shadow: 0 0 7px #5C4B51; }
    body body #open-close,
    html body #open-close {
      position: fixed;
      left: 217px;
      top: 331px;
      padding: 5px;
      z-index: 200;
      height: 55px;
      width: 48px;
      border-radius: 50%;
      background-color: white;
      border: 0 solid #5C4B51;
      box-shadow: 0 0 5px; }
      body body #open-close #close-glyph,
      html body #open-close #close-glyph {
        margin: auto;
        font-size: 40px; }
    body body #main-container,
    html body #main-container {
      display: flex; }
      body body #main-container #nav-spacer,
      html body #main-container #nav-spacer {
        margin-left: 240px; }
      body body #main-container #main #landing-div,
      html body #main-container #main #landing-div {
        display: flex; }
        body body #main-container #main #landing-div #profile-pic,
        html body #main-container #main #landing-div #profile-pic {
          margin: 30px auto 10px;
          -moz-width: 45%; }
      body body #main-container #main #email,
      html body #main-container #main #email {
        font-family: 'Josefin Slab', serif;
        font-size: 25px;
        font-weight: 500;
        color: #2E5458; }
      body body #main-container #main .div-line-div,
      html body #main-container #main .div-line-div {
        padding: 0 20px; }
        body body #main-container #main .div-line-div .div-line,
        html body #main-container #main .div-line-div .div-line {
          margin: 26px auto;
          border-bottom: 2px solid #5C4B51;
          width: 500px; }
      body body #main-container #main .header,
      html body #main-container #main .header {
        background-color: #8CBEB2; }
      body body #main-container #main .header-text,
      html body #main-container #main .header-text {
        font-family: 'Josefin Slab', serif;
        font-size: 59px;
        font-weight: 700;
        color: #5C4B51; }
      body body #main-container #main #about-div .about-panel,
      html body #main-container #main #about-div .about-panel {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify; }
        body body #main-container #main #about-div .about-panel #about-text,
        html body #main-container #main #about-div .about-panel #about-text {
          font-family: 'Josefin Slab', serif;
          font-size: 20px;
          font-weight: 400;
          text-indent: 50px;
          margin-bottom: 0; }
      body body #main-container #main #education-div #education-header,
      html body #main-container #main #education-div #education-header {
        margin-bottom: 20px; }
      body body #main-container #main #education-div #education-panels-div .school-panels .school-logo,
      html body #main-container #main #education-div #education-panels-div .school-panels .school-logo {
        margin-top: 8px; }
        body body #main-container #main #education-div #education-panels-div .school-panels .school-logo .school-icon,
        html body #main-container #main #education-div #education-panels-div .school-panels .school-logo .school-icon {
          width: 60px;
          height: 60px;
          margin: auto;
          display: block; }
        body body #main-container #main #education-div #education-panels-div .school-panels .school-logo .uni-name,
        html body #main-container #main #education-div #education-panels-div .school-panels .school-logo .uni-name {
          font-family: 'Josefin Slab', serif;
          font-size: 2em;
          font-weight: 800; }
        body body #main-container #main #education-div #education-panels-div .school-panels .school-logo #unc-name,
        html body #main-container #main #education-div #education-panels-div .school-panels .school-logo #unc-name {
          margin-top: 3px; }
      body body #main-container #main #education-div #education-panels-div .school-panels .degree,
      html body #main-container #main #education-div #education-panels-div .school-panels .degree {
        font-family: 'Josefin Slab', serif;
        font-size: 20px;
        font-weight: 400; }
      body body #main-container #main #education-div #education-panels-div .school-panels .grad-date,
      html body #main-container #main #education-div #education-panels-div .school-panels .grad-date {
        font-family: 'Josefin Slab', serif;
        font-size: 20px;
        font-weight: 400;
        font-style: italic; }
      body body #main-container #main #education-div #education-panels-div .school-panels .ed-list,
      html body #main-container #main #education-div #education-panels-div .school-panels .ed-list {
        font-family: 'Josefin Slab', serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        text-align: center; }
      body body #main-container #main #projects-div #projects-panels .panel-row,
      html body #main-container #main #projects-div #projects-panels .panel-row {
        display: flex;
        justify-content: space-around; }
        body body #main-container #main #projects-div #projects-panels .panel-row .projects-content-panel,
        html body #main-container #main #projects-div #projects-panels .panel-row .projects-content-panel {
          margin: 20px 0 0;
          padding: 0; }
          body body #main-container #main #projects-div #projects-panels .panel-row .projects-content-panel .projects-footer,
          html body #main-container #main #projects-div #projects-panels .panel-row .projects-content-panel .projects-footer {
            font-family: 'Josefin Slab', serif;
            font-size: 24px;
            font-weight: 700;
            color: #8CBEB2; }
      body body #main-container #main #skills-div #skills-header,
      html body #main-container #main #skills-div #skills-header {
        margin: 20px 0; }
      body body #main-container #main #skills-div #skills-panels-div .skill-subheader,
      html body #main-container #main #skills-div #skills-panels-div .skill-subheader {
        font-family: 'Josefin Slab', serif;
        font-size: 40px;
        font-weight: 500;
        color: #5C4B51;
        margin: 0; }
      body body #main-container #main #skills-div #skills-panels-div .skill-panel,
      html body #main-container #main #skills-div #skills-panels-div .skill-panel {
        display: flex;
        justify-content: space-around; }
        body body #main-container #main #skills-div #skills-panels-div .skill-panel i,
        html body #main-container #main #skills-div #skills-panels-div .skill-panel i {
          font-size: 80px; }
      body body #main-container #main #experience-div #experience-header,
      html body #main-container #main #experience-div #experience-header {
        margin-bottom: 20px; }
      body body #main-container #main #experience-div #experience-panels-div .experience-content-panel .job-location,
      html body #main-container #main #experience-div #experience-panels-div .experience-content-panel .job-location {
        display: flex;
        justify-content: space-between;
        margin-top: 8px; }
        body body #main-container #main #experience-div #experience-panels-div .experience-content-panel .job-location .exp-job,
        html body #main-container #main #experience-div #experience-panels-div .experience-content-panel .job-location .exp-job {
          font-family: 'Josefin Slab', serif;
          font-size: 20px;
          font-weight: 700;
          color: #5C4B51; }
        body body #main-container #main #experience-div #experience-panels-div .experience-content-panel .job-location .exp-location,
        html body #main-container #main #experience-div #experience-panels-div .experience-content-panel .job-location .exp-location {
          font-family: 'Josefin Slab', serif;
          font-size: 18px;
          font-style: italic;
          font-weight: 400;
          color: #5C4B51;
          margin: auto 0; }
      body body #main-container #main #experience-div #experience-panels-div .experience-content-panel .exp-title,
      html body #main-container #main #experience-div #experience-panels-div .experience-content-panel .exp-title {
        font-family: 'Josefin Slab', serif;
        font-size: 18px;
        font-weight: 500;
        color: #5C4B51; }
      body body #main-container #main #experience-div #experience-panels-div .experience-content-panel .exp-date,
      html body #main-container #main #experience-div #experience-panels-div .experience-content-panel .exp-date {
        font-family: 'Josefin Slab', serif;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        color: #5C4B51; }
      body body #main-container #main #experience-div #experience-panels-div .experience-content-panel .exp-description,
      html body #main-container #main #experience-div #experience-panels-div .experience-content-panel .exp-description {
        font-family: 'Josefin Slab', serif;
        font-size: 14px;
        font-weight: 400;
        color: #5C4B51; }
      body body #main-container #main #connect-div #connect-header,
      html body #main-container #main #connect-div #connect-header {
        margin-bottom: 20px; }
      body body #main-container #main #connect-div #social-media,
      html body #main-container #main #connect-div #social-media {
        display: flex;
        margin: 15px auto 35px; }
        body body #main-container #main #connect-div #social-media #social-media-inner,
        html body #main-container #main #connect-div #social-media #social-media-inner {
          margin: 0 auto; }
          body body #main-container #main #connect-div #social-media #social-media-inner .social-icons,
          html body #main-container #main #connect-div #social-media #social-media-inner .social-icons {
            margin: 0 14px;
            height: 90px; }
          body body #main-container #main #connect-div #social-media #social-media-inner .social-icons:hover,
          html body #main-container #main #connect-div #social-media #social-media-inner .social-icons:hover {
            -webkit-box-shadow: 0 0 26px -6px #222;
            -moz-box-shadow: 0 0 26px -6px #222;
            box-shadow: 0 0 26px -6px #222;
            cursor: pointer; }

@media screen and (min-width: 1084px) {
  #location-email-div {
    margin-top: 64px; }
  .div-line {
    margin: 22px auto; }
  #tagline-div #tagline {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-style: italic;
    color: #2E5458;
    margin-top: 0;
    padding: 0 20px;
    font-size: 59px; } }

@media screen and (max-width: 1083px) {
  #location-email-div {
    margin-top: 10px; }
  .div-line {
    margin: 21px auto; }
  #tagline {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-style: italic;
    color: #2E5458;
    margin-top: 0;
    padding: 0 20px;
    font-size: 59px; } }

@media screen and (max-width: 898px) {
  #tagline {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-style: italic;
    color: #2E5458;
    margin-top: 0;
    padding: 0 20px;
    font-size: 56px; } }

@media screen and (min-width: 992px) {
  #projects-panels-small-screen {
    display: none; } }

@media screen and (min-width: 769px) {
  #nav-container-small-screen {
    display: none; } }

@media screen and (max-width: 991px) {
  #projects-panels {
    display: none; }
  #projects-panels-small-screen .panel-row {
    display: flex;
    justify-content: space-around; }
    #projects-panels-small-screen .panel-row .projects-content-panel {
      margin: 20px 0 0;
      padding: 0; }
      #projects-panels-small-screen .panel-row .projects-content-panel .projects-footer {
        font-family: 'Josefin Slab', serif;
        font-size: 24px;
        font-weight: 700;
        color: #8CBEB2; } }

@media screen and (max-width: 768px) {
  body {
    padding-top: 70px; }
    body #nav-container {
      display: none; }
    body #nav-spacer {
      display: none; } }
