.div-line-div {
  display: flex; }
  .div-line-div .div-line {
    margin: 26px auto;
    border-bottom: 2px solid #5C4B51; }

.skill-div-line-div {
  display: flex; }
  .skill-div-line-div .skill-div-line {
    margin: 3px auto 17px;
    border-bottom: 1px solid #5C4B51; }

a:hover {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

body {
  background-image: url("/assets/images/background.png"); }
  body #nav-container {
    border-right: 0px solid #888888;
    -webkit-box-shadow: 0 0px 26px -6px #222;
    -moz-box-shadow: 0 0px 26px -6px #222;
    box-shadow: 0 0px 26px -6px #222;
    height: 100%;
    width: 240px;
    position: fixed;
    background-color: white;
    z-index: 100; }
    body #nav-container ul {
      padding: 0;
      margin: 40px 20px 0px; }
      body #nav-container ul #name-title {
        list-style-type: none;
        border-bottom: 1px solid #888888;
        padding-bottom: 10px; }
        body #nav-container ul #name-title #nav-my-name {
          font-family: 'Josefin Slab', serif;
          font-size: 47px;
          font-weight: 700;
          color: #5C4B51;
          line-height: normal; }
        body #nav-container ul #name-title #nav-my-job {
          font-family: 'Josefin Slab', serif;
          font-size: 19px;
          font-weight: 400;
          font-style: italic;
          color: #F3B562;
          margin-top: 10px; }
      body #nav-container ul #nav-choices {
        margin: 25px 0px;
        position: fixed; }
        body #nav-container ul #nav-choices .nav-choice {
          list-style-type: none;
          font-family: 'Josefin Slab', serif;
          font-size: 25px;
          font-weight: 200;
          color: #5C4B51; }
          body #nav-container ul #nav-choices .nav-choice #about-glyph {
            color: #2E5458; }
          body #nav-container ul #nav-choices .nav-choice #experience-glyph {
            color: #F06060; }
          body #nav-container ul #nav-choices .nav-choice #projects-glyph {
            color: #8CBEB2; }
          body #nav-container ul #nav-choices .nav-choice #skills-glyph {
            color: #F2EBBF; }
          body #nav-container ul #nav-choices .nav-choice #education-glyph {
            color: #F3B562; }
          body #nav-container ul #nav-choices .nav-choice #contact-glyph {
            color: #73573F; }
          body #nav-container ul #nav-choices .nav-choice #resume-glyph {
            color: #5C4B51; }
          body #nav-container ul #nav-choices .nav-choice .glyphicon {
            margin-top: 1px; }
          body #nav-container ul #nav-choices .nav-choice .nav-choice-titles {
            margin-left: 8px;
            color: #5C4B51; }
          body #nav-container ul #nav-choices .nav-choice .nav-list-spans {
            padding: 15px 0px; }
  body #open-close:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px #5C4B51; }
  body #open-close {
    position: fixed;
    left: 217px;
    top: 331px;
    padding: 5px;
    z-index: 200;
    height: 55px;
    width: 48px;
    border-radius: 50%;
    background-color: white;
    border: 0px solid #5C4B51;
    box-shadow: 0px 0px 5px; }
    body #open-close #close-glyph {
      margin: auto auto;
      font-size: 40px; }
  body #main-container {
    display: flex; }
    body #main-container #nav-spacer {
      margin-left: 240px; }
    body #main-container #main .header {
      background-color: #8CBEB2; }
    body #main-container #main .header-text {
      font-family: 'Josefin Slab', serif;
      font-size: 59px;
      font-weight: 700;
      color: #5C4B51;
      margin: 15px 0px 15px 60px; }
    body #main-container #main #landing-div {
      display: flex; }
      body #main-container #main #landing-div #profile-pic {
        margin: 30px auto 10px;
        width: 37%; }
    body #main-container #main #social-media {
      display: flex;
      margin: 15px auto 0px; }
      body #main-container #main #social-media #social-media-inner {
        margin: 0 auto; }
        body #main-container #main #social-media #social-media-inner .social-icons {
          margin: 0 14px;
          height: 90px; }
        body #main-container #main #social-media #social-media-inner .social-icons:hover {
          -webkit-box-shadow: 0 0px 26px -6px #222;
          -moz-box-shadow: 0 0px 26px -6px #222;
          box-shadow: 0 0px 26px -6px #222;
          cursor: pointer; }
    body #main-container #main #tagline-div #tagline {
      font-family: 'Josefin Slab', serif;
      font-size: 59px;
      font-weight: 400;
      font-style: italic;
      color: #2E5458;
      margin-top: 0px; }
    body #main-container #main #about-div {
      padding: 40px; }
      body #main-container #main #about-div #about-text {
        font-family: 'Josefin Slab', serif;
        font-size: 20px;
        font-weight: 400;
        text-indent: 50px;
        margin-bottom: 0px; }
    body #main-container #main #education-div #education-header {
      margin-bottom: 20px; }
    body #main-container #main #education-div #education-panels-div .school-panels .school-icon {
      width: 100px;
      height: 100px; }
    body #main-container #main #projects-div #projects-panels .panel-row {
      display: flex;
      justify-content: space-around; }
      body #main-container #main #projects-div #projects-panels .panel-row .projects-content-panel {
        margin: 20px 0px 0px 0px;
        padding: 0px;
        width: 30%; }
    body #main-container #main #skills-div #skills-header {
      margin: 20px 0px; }
    body #main-container #main #skills-div #skills-panels-div .skill-subheader {
      font-family: 'Josefin Slab', serif;
      font-size: 40px;
      font-weight: 500;
      color: #5C4B51;
      margin: 0; }
    body #main-container #main #skills-div #skills-panels-div .skill-panel {
      display: flex;
      justify-content: space-around; }
      body #main-container #main #skills-div #skills-panels-div .skill-panel i {
        font-size: 80px; }
    body #main-container #main #experience-div #experience-header {
      margin-bottom: 20px; }
    body #main-container #main #experience-div #experience-panels-div .experience-content-panel .job-location {
      display: flex;
      justify-content: space-between;
      margin-top: 8px; }
      body #main-container #main #experience-div #experience-panels-div .experience-content-panel .job-location .exp-job {
        font-family: 'Josefin Slab', serif;
        font-size: 20px;
        font-weight: 700;
        color: #5C4B51; }
      body #main-container #main #experience-div #experience-panels-div .experience-content-panel .job-location .exp-location {
        font-family: 'Josefin Slab', serif;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        color: #5C4B51;
        margin: auto 0px; }
    body #main-container #main #experience-div #experience-panels-div .experience-content-panel .exp-title {
      font-family: 'Josefin Slab', serif;
      font-size: 18px;
      font-weight: 500;
      color: #5C4B51; }
    body #main-container #main #experience-div #experience-panels-div .experience-content-panel .exp-date {
      font-family: 'Josefin Slab', serif;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      color: #5C4B51; }
    body #main-container #main #experience-div #experience-panels-div .experience-content-panel .exp-description {
      font-family: 'Josefin Slab', serif;
      font-size: 14px;
      font-weight: 400;
      color: #5C4B51; }
    body #main-container #main #contact-div #contact-header {
      margin-bottom: 20px; }
    body #main-container #main #contact-div form .form-group label {
      font-family: 'Josefin Slab', serif;
      font-size: 20px;
      font-weight: 400;
      color: #2E5458;
      margin-bottom: 0px; }
    body #main-container #main #contact-div form .form-group input:focus, body #main-container #main #contact-div form .form-group textarea:focus {
      border-color: #F3B562;
      outline: 0;
      box-shadow: 0px 0px 7px #F3B562; }
    body #main-container #main #contact-div form .form-group textarea {
      position: absolute; }
