@import "extend.scss";
@import "variables.scss";
@import "bootstrap";
@import "bootstrap/theme";

body,
html {
	height: 100%;

	.skill-div-line-div {
		display: flex;

		.skill-div-line {
			margin: 3px auto 17px;
			border-bottom: 1px solid $black;
		}
	}

	a:hover {
		text-decoration: none;
		cursor: pointer;
	}

	a:visited {
		text-decoration: none;
	}

	body {
		background-image: url("/assets/images/background.png");

		#nav-container {
			border-right: 0 solid #888888;
			box-shadow: 0 0 26px -6px #222;
			height: 100%;
			width: 240px;
			position: fixed;
			background-color: white;
			z-index: 100;

			ul {
				padding: 0;
				margin: 40px 20px 0;

				#name-title {
					list-style-type: none;
					border-bottom: 1px solid #888888;
					padding-bottom: 10px;

					#nav-my-name {
						@extend %nav-my-name;
					}

					#nav-my-job {
						font-family: 'Josefin Slab', serif;
						font-size: 19px;
						font-weight: 400;
						font-style: italic;
						color: $orange;
						margin-top: 10px;
					}
				}

				#nav-choices li#about::before {
					@extend %nav-list-item;
					background: linear-gradient(to right, $dark-teal , #FFFFFF);
				}

				#nav-choices li#connect::before {
					@extend %nav-list-item;
					background: linear-gradient(to right, $brown , #FFFFFF);
				}

				#nav-choices li#education::before {
					@extend %nav-list-item;
					background: linear-gradient(to right, $orange , #FFFFFF);
				}

				#nav-choices li#experience::before {
					@extend %nav-list-item;
					background: linear-gradient(to right, $salmon , #FFFFFF);
				}

				#nav-choices li#projects::before {
					@extend %nav-list-item;
					background: linear-gradient(to right, $teal , #FFFFFF);
				}

				#nav-choices li#resume::before {
					@extend %nav-list-item;
					background: linear-gradient(to right, $black , #FFFFFF);
				}

				#nav-choices li#skills::before {
					@extend %nav-list-item;
					background: linear-gradient(to right, $off-white , #FFFFFF);
				}

				#nav-choices li#about:hover::before,
				#nav-choices li#connect:hover::before,
				#nav-choices li#education:hover::before,
				#nav-choices li#experience:hover::before,
				#nav-choices li#projects:hover::before,
				#nav-choices li#resume:hover::before,
				#nav-choices li#skills:hover::before {
					width: 20%;
					opacity: 0.7;
					cursor: pointer;
				}

				#nav-choices {
					margin: 25px 0;
					bottom: 50px;

					.nav-choice:hover {
						color: #FFFFFF;
					}

					.nav-choice {
						list-style-type: none;
						font-family: 'Josefin Slab', serif;
						font-size: 24px;
						font-weight: 200;
						color: $black;
						height: 60px;

						.nav-choice-divs {
							color: $black;
							margin: 10px;

							#about-glyph {
								color: $dark-teal;
							}

							#education-glyph {
								color: $orange;
							}

							#projects-glyph {
								color: $teal;
							}

							#skills-glyph {
								color: $off-white;
							}

							#experience-glyph {
								color: $salmon;
							}

							#connect-glyph {
								color: $brown;
							}

							#resume-glyph {
								color: $black;
							}

							.glyphicon {
								margin-top: 1px;
							}

							.nav-titles {
								margin: 11px;
							}
						}
					}
				}
			}
		}

		#nav-container-small-screen {
			nav {
				display: flex;
				justify-content: space-between;
				box-shadow: 0 0 26px -6px #222;

				#small-nav-my-name {
					@extend %nav-my-name;
					margin: 10px 0;
				}

				#small-nav-glyphs {
					#about-glyph-small {
						color: $dark-teal;
					}

					#education-glyph-small {
						color: $orange;
					}

					#projects-glyph-small {
						color: $teal;
					}

					#skills-glyph-small {
						color: $off-white;
					}

					#experience-glyph-small {
						color: $salmon;
					}

					#connect-glyph-small {
						color: $brown;
					}

					#resume-glyph-small {
						color: $black;
					}

					.glyphicon-small-nav {
						@extend %glyphicon-small-nav;
					}

					.glyphicon-small-nav-resume {
						@extend %glyphicon-small-nav;
					}
				}
			}
		}

		#open-close:hover {
			cursor: pointer;
			box-shadow: 0 0 7px $black;
		}

		#open-close {
			position: fixed;
			left: 217px;
			top: 331px;
			padding: 5px;
			z-index: 200;
			height: 55px;
			width: 48px;
			border-radius: 50%;
			background-color: white;
			border: 0 solid #5C4B51;
			box-shadow: 0 0 5px;

			#close-glyph {
				margin: auto;
				font-size: 40px;
			}
		}

		#main-container {
			display: flex;

			#nav-spacer {
				margin-left: 240px;
			}

			#main {
				#profile-pic-div {
					display: flex;

					#profile-pic {
						margin: 30px auto 10px;
						-moz-width: 45%;
					}
				}

				#email {
					font-family: 'Josefin Slab', serif;
					font-size: 25px;
					font-weight: 500;
					color: $dark-teal;
				}

				.div-line-div {
					padding: 0 20px;

					.div-line {
						margin: 26px auto;
						border-bottom: 2px solid $black;
						width: 500px;
					}
				}

				.header {
					background-color: $teal;
				}

				.header-text {
					font-family: 'Josefin Slab', serif;
					font-size: 59px;
					font-weight: 700;
					color: $black;
				}

				#about-div {
					.about-panel {
						margin-top: 20px;
						margin-bottom: 20px;
						text-align: justify;

						#about-text {
							font-family: 'Josefin Slab', serif;
							font-size: 20px;
							font-weight: 400;
							margin-bottom: 0;
						}
					}
				}

				#education-div {
					#education-header {
						margin-bottom: 20px;

						#education-header-text {}
					}

					#education-panels-div {
						.school-panels {
							.school-logo {
								margin-top: 8px;

								.school-icon {
									width: 60px;
									height: 60px;
									margin: auto;
									display: block;
								}

								.uni-name {
									font-family: 'Josefin Slab', serif;
									font-size: 2em;
									font-weight: 800;
								}

								#unc-name {
									margin-top: 3px;
								}
							}

							.degree {
								font-family: 'Josefin Slab', serif;
								font-size: 20px;
								font-weight: 400;
							}

							.grad-date {
								font-family: 'Josefin Slab', serif;
								font-size: 20px;
								font-weight: 400;
								font-style: italic;
							}

							.ed-list {
								font-family: 'Josefin Slab', serif;
								font-size: 16px;
								font-weight: 400;
								margin-top: 10px;
								text-align: center;
							}
						}
					}
				}

				#projects-div {
					#projects-header {
						#projects-header-text {}
					}

					.projects-content-panel:hover {
						-webkit-box-shadow: 0 0 26px -6px #222;
						-moz-box-shadow: 0 0 26px -6px #222;
						box-shadow: 0 0 26px -6px #222;
					}

					#projects-panels,
					#projects-panels-small-screen {
						.bottom-projects-row {
							margin-bottom: 20px;
						}

						.panel-row {
							display: flex;
							justify-content: space-around;

							.projects-content-panel {
								margin: 20px 0 0;
								padding: 0;

								.panel-body-front {}

								.panel-body-back {
									display: none;

									.panel-back-inner {
										padding: 20px;

										.project-description {
											font-family: 'Josefin Slab', serif;
											font-size: 1.5vw;
											font-weight: 700;
											color: $black;
										}

										.project-description-small-screen {
											font-family: 'Josefin Slab', serif;
											font-weight: 700;
											color: $black;
										}

										.panel-back-inner a img {
											margin: 0 14px;
											height: 70px;
										}

										.app-link-icons {
											display: flex;
											justify-content: center;

											.project-icons {
												padding-top: 20px;
												margin: auto 25px;
											}

											.project-icons:hover {
												cursor: pointer;
											}
										}
									}
								}

								.projects-footer {
									font-family: 'Josefin Slab', serif;
									font-size: 24px;
									font-weight: 700;
									color: $teal;
								}
							}
						}
					}
				}

				#skills-div {
					#skills-header {
						#skills-header-text {}
					}

					#skills-panels-div {
						#html-css-skills {
							margin-top: 20px;
						}

						.skills-content-panel {
							min-width: 500px;

							.skill-subheader {
								font-family: 'Josefin Slab', serif;
								font-size: 40px;
								font-weight: 500;
								color: $black;
								margin: 0;
							}

							.skill-panel {
								display: flex;
								justify-content: space-around;
								flex-wrap: wrap;

								i {
									font-size: 80px;
									margin-bottom: 10px;
								}
							}
						}
					}
				}

				#experience-div {
					#experience-header {
						margin-bottom: 20px;

						#experience-header-text {}
					}

					#experience-panels-div {
						.experience-content-panel {
							.job-location {
								display: flex;
								justify-content: space-between;
								margin-top: 8px;

								.exp-job {
									font-family: 'Josefin Slab', serif;
									font-size: 20px;
									font-weight: 700;
									color: $black;
								}

								.exp-location {
									font-family: 'Josefin Slab', serif;
									font-size: 18px;
									font-style: italic;
									font-weight: 400;
									color: $black;
									margin: auto 0;
								}
							}

							.exp-title {
								font-family: 'Josefin Slab', serif;
								font-size: 18px;
								font-weight: 500;
								color: $black;
							}

							.exp-date {
								font-family: 'Josefin Slab', serif;
								font-size: 16px;
								font-weight: 400;
								font-style: italic;
								color: $black;
							}

							.exp-description {
								font-family: 'Josefin Slab', serif;
								font-size: 14px;
								font-weight: 400;
								color: $black;
							}
						}
					}
				}

				#connect-div {
					#connect-header {
						margin-bottom: 20px;

						#connect-header-text {}
					}

					#social-media {
						display: flex;
						margin: 15px auto 35px;

						#social-media-inner {
							margin: 0 auto;

							.social-icons {
								margin: 0 14px;
								height: 90px;
							}

							.social-icons:hover {
								-webkit-box-shadow: 0 0 26px -6px #222;
								-moz-box-shadow: 0 0 26px -6px #222;
								box-shadow: 0 0 26px -6px #222;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1084px) {
	#location-email-div {
		margin-top: 64px;
	}

	.div-line {
		margin: 22px auto;
	}

	#tagline-div {
		#tagline {
			font-family: 'Josefin Slab', serif;
			font-weight: 400;
			font-style: italic;
			color: $dark-teal;
			margin-top: 0;
			padding: 0 20px;
			font-size: 59px;
		}
	}
}
@media screen and (max-width: 1083px) {
	#location-email-div {
		margin-top: 10px;
	}

	.div-line {
		margin: 21px auto;
	}

	#tagline {
		font-family: 'Josefin Slab', serif;
		font-weight: 400;
		font-style: italic;
		color: $dark-teal;
		margin-top: 0;
		padding: 0 20px;
		font-size: 59px;
	}
}
@media screen and (max-width: 898px) {
	#tagline {
		font-family: 'Josefin Slab', serif;
		font-weight: 400;
		font-style: italic;
		color: $dark-teal;
		margin-top: 0;
		padding: 0 20px;
		font-size: 56px;
	}
}
@media screen and (min-width: 992px) {
	#projects-panels-small-screen {
		display: none;
	}
}
@media screen and (min-width: 769px) {
	#nav-container-small-screen {
		display: none;
	}
}
@media screen and (max-width: 991px) {
	#projects-panels {
		display: none;
	}

	#projects-panels-small-screen {
		.bottom-projects-row {
			margin-bottom: 20px;
		}

		.panel-row {
			display: flex;
			justify-content: space-around;

			.projects-content-panel {
				margin: 20px 0 0;
				padding: 0;

				.projects-footer {
					font-family: 'Josefin Slab', serif;
					font-size: 24px;
					font-weight: 700;
					color: $teal;
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	body {
		padding-top: 70px;

		#nav-container {
			display: none;
		}

		#nav-spacer {
			display: none;
		}
	}
}
@media screen and (max-width: 567px) {
	.navbar {
		height: 67px;

		#small-nav-my-name {
			display: none;
		}
	}
}